<div class="container pt-5">
  <div class="row">
    <div class="col"><h2>Bike Beer Simulator</h2></div>
  </div>

  <div class="row pt-3 border-top mt-5">
    <div class="col-6 text-center">
      <div class="form-check">
        <input [disabled]="status == 'start'" (click)="team = 'red'" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
        <label class="form-check-label" for="exampleRadios1">
          Team Rot
        </label>
      </div>
    </div>
    <div class="col-6 text-center">
      <div class="form-check">
        <input [disabled]="status == 'start'" (change)="team = 'blue'" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
          Team Blau
        </label>
      </div>
    </div>
  </div>
  <div class="row pt-5">
    <div class="col-6 font-weight-bold">
      <span *ngIf="team == 'red' && status == 'start'">Team Rot radelt gerade</span>
      <span *ngIf="team == 'blue' && status == 'start'">Team Blau radelt gerade</span>
      <span *ngIf="status == 'stop'">keiner Radelt</span>
    </div>
    <div class="col-6">
      <div class="form-group" *ngIf="status == 'start'">
        <label for="exampleFormControlInput1">Runden</label>
        <input type="number" [(ngModel)]="rounds"  class="form-control" id="exampleFormControlInput1" placeholder="rounds">
      </div>
    </div>
  </div>
  <div class="row" *ngIf="status == 'start'">
    <div class="col">
      simulated speed range from 0 - 100: <b>{{sendetSpeed}}</b>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col-6">
      <button  [disabled]="status == 'start'" type="button" (click)="sendStatus('start'); status = 'start'" class="btn btn-block btn-primary" [ngClass]="{'btn-danger' : team == 'red'}" >Start</button>
    </div>
    <div class="col-6">
      <button [disabled]="status == 'stop'" type="button" (click)="sendStatus('stop'); status = 'stop'" class="btn btn-block btn-primary" [ngClass]="{'btn-danger' : team == 'red'}">Stop</button>
    </div>
  </div>

</div>
